/******************
 * Type Selectors *
 ******************/
 
 @font-face {
   font-family: 'Pixel';
   src: url('../font/pixel_emulator.otf');
 }

:root {
  /* Theme colors */
  --primary-color: #D09B2C;
  --tint-color-end: #D09B2C70;
  --tint-color-start: #770000D0;
  --bg-color-light: #ECE2E2;
  --bg-color-dark: black;
  --font-color-light: white;
  --font-color-dark: #313338;

  /* Font stacks */
  --text-font: 'Open Sans', sans-serif;
  --header-font: 'Pixel', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-size: 12pt;
  background-color: white;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: var(--header-font);
  font-size: inherit;
}
