/* Variables */
:root {
  /* Theme colors */
  --primary-color: #D09B2C;
  --secondary-color: black;
  --default-background-color: white;
  --font-color-light: white;
  --font-color-dark: #313338;

  /*
  #ECE2E2
  #9A8787
  #444
  #4f535e
  */
}

span.accent {
  color: var(--primary-color);
}
span.prepend {
  margin-right: 1ex;
}

#home {
  background-image:
    linear-gradient(#242434B5, #242434B5),
    url(../img/melting.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: var(--font-color-light);
  height: 100vh;
}

#home::before {
  content: "";
  display: block;
  height: 25vh;
}

#home > h1 {
  margin-top: 0;
  text-transform: uppercase;
}

@media (max-height: 300px) {
  #home {
    height: 300px;
  }

  #home::before {
    height: 25%;
  }
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 5px 10px;
  background-color: var(--secondary-color);
  color: var(--font-color-light);
}

#navbar > span:nth-child(1) {
  margin-right: 20px;
  font: 700 35px 'Varela';
}

#navbar > ul {
  margin: 0;
  padding: 0;
  font: 600 15px 'Open Sans';
  list-style-type: none;
  display: inline-flex;
  flex-wrap: wrap;
}

#navbar > ul > li {
  margin: 1ex;
  text-transform: uppercase;
}
