/******************
 * Type Selectors *
 ******************/

:root {
  /* Theme colors */
  --primary-color: #D09B2C;
  --tint-color-end: #D09B2C70;
  --tint-color-start: #770000D0;
  --bg-color-light: #ECE2E2;
  --bg-color-dark: black;
  --font-color-light: white;
  --font-color-dark: #313338;

  /* Font stacks */
  --text-font: 'Open Sans', sans-serif;
  --header-font: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: var(--header-font);
}

a {
  text-decoration: none;
  color: unset;
}

p a {
  text-decoration: underline;
}

@media (max-width: 510px) {
  h1 {
    font-size: 32pt;
  }

  h2 {
    font-size: 24pt;
  }

  h3 {
    font-size: 14pt;
  }
}
