/*
 * Block
 */

.clickable {
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  color: unset;
}

/*
 * Modifier
 */

.clickable--border {
  border: solid 2px;
  padding: 0.3em;
}

.clickable--nav-link {
  display: block;
  font-family: var(--text-font);
  text-transform: uppercase;
}

.clickable--nav-link:hover,
.clickable--border:hover {
  color: var(--primary-color);
}

.clickable--link {
  text-decoration: underline;
}

.clickable--button {
  color: inherit;
}
