/*
 * Block
 */

.clickable {
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  color: unset;
}

/*
 * Modifier
 */

.clickable--border {
  border: solid 2px;
  padding: 0.3em;
}

.clickable--nav-link,
.clickable--border:hover {
  color: var(--primary-color);
}

.clickable--link {
  text-decoration: underline;
}
