/*
 * Block
 */

.faq {
  margin: 2em 0;
}

.faq:first-of-type {
  margin-top: 0;
}

/*
 * Element
 */

.faq__question {
  font-size: 18pt;
  margin-bottom: 0.2em;
}

@media (max-width: 510px) {
  .faq__question {
    font-size: 14pt;
  }
}
