/*
 * Block
 */

.section {
  margin: 2.4em 0;
  padding: 0 10%;
}

.section:first-of-type {
  margin-top: 0;
}

.section:last-of-type {
  margin-bottom: 0;
}

/*
 * Element
 */

.section__header {
  position: relative;
  left: -3%;
  font-size: 36pt;
  display: inline-block;
  margin-bottom: 1em;
  border-bottom: 0.1em solid var(--primary-color);
}

@media (max-width: 510px) {
  .section__header {
    font-size: 24pt;
  }
}

/*
 * Modifier
 */

.section--main {
  font-size: 64pt;
  margin: 0;
  text-align: center;
  min-height: 100vh;
  background-image:
    linear-gradient(
      var(--tint-color-start),
      var(--tint-color-end)),
    url(../img/dragon_arcade.png);
  background-position: center;
  background-size: cover;
  color: var(--font-color-light);
}

.section--main::before {
  content: "";
  padding-top: 20vh;
  display: block;
}

.section--main::after {
  content: "";
  padding-bottom: 16px;
  display: block;
}
