/*
 * Block
 */

.sponsor-tier {
  margin: 40px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

/*
 * Element
 */

/* Broke BEM guidelines for sanity */
.sponsor-tier > * {
  margin: 30px;
}
