/*
 * Block
 */

.text {
  font-family: var(--text-font);
  font-size: 12pt;
  color: inherit;
}

.text:first-of-type {
  margin-top: 0;
}

.text:last-of-type {
  margin-bottom: 0;
}

/*
 * Modifier
 */

.text--accent {
  color: var(--primary-color);
}

.text--prefix {
  margin-right: 0.5em;
}

.text--big {
  font-weight: bold;
  font-size: 15pt;
}
