/*
 * Block
 */

.text {
  font-family: var(--text-font);
  font-size: inherit;
  color: inherit;
}

.text:first-of-type {
  margin-top: 0;
}

.text:last-of-type {
  margin-bottom: 0;
}

/*
 * Modifier
 */

.text--accent {
  color: var(--primary-color);
}

.text--big {
  font-weight: bold;
  font-size: 15pt;
}

.text--bigger {
  font-weight: bold;
  font-size: 24pt;
}
